%h1
  = @content_hash
%form{ role: "form", action: "/posts/edit/#{params[:id].to_s}", method: "GET" }
  %button{ type: "submit", class: "btn btn-primary" }
    Update

%div{ style: "margin-top: 20px;" }
  = preserve do
    %pre{ style: "white-space: pre-wrap;" }
      %code{ class: "#{@language}" }
        = @item
